@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Only use Inter */
.font-sans {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-sans-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* color: #fff; */
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

@import "tailwindcss";
 @keyframes shine {
   0% {
     background-position: -100% 0;
   }
   100% {
     background-position: 100% 0;
   }
 }

 .animate-shine {
   animation-name: shine;
 }
@keyframes waveMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.animate-wave {
  animation: waveMove 10s linear infinite;
}
.custom-cursor {
  cursor: none;
}
