@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


.font-playfair {
  font-family: 'Playfair Display', serif;
}

@import "tailwindcss";
 @keyframes shine {
   0% {
     background-position: -100% 0;
   }
   100% {
     background-position: 100% 0;
   }
 }

 .animate-shine {
   animation-name: shine;
 }
@keyframes waveMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.animate-wave {
  animation: waveMove 10s linear infinite;
}
.custom-cursor {
  cursor: none;
}
