@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

.font-sans {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-sans-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

@import "tailwindcss";
 @keyframes shine {
   0% {
     background-position: -100% 0;
   }
   100% {
     background-position: 100% 0;
   }
 }

 .animate-shine {
   animation-name: shine;
 }
@keyframes waveMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.animate-wave {
  animation: waveMove 10s linear infinite;
}
.custom-cursor {
  cursor: none;
}


@keyframes waving-hand {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.animate-waving-hand {
  display: inline-block;
  animation: waving-hand 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}
